Repository ltlgrnaiml/engineering-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-contracts, validate-adrs, validate-specs

validate-contracts:
  name: Validate Pydantic Contracts
  entry: python tools/validate_contracts.py
  language: python
  pass_filenames: false
  always_run: false
  stages:
  - commit

validate-adrs:
  name: Validate ADR JSON files
  entry: python -c "import json, sys; [json.load(open(f)) for f in sys.argv[1:]]"
  language: python

validate-specs:
  name: Validate SPEC JSON files
  entry: python -c "import json, sys; [json.load(open(f)) for f in sys.argv[1:]]"
  language: python

fix: Implement ADR-0009 contract discipline for frontend TypeScript types
  COMMIT_MSG.txt
  apps/data_aggregator/frontend/src/components/debug/DebugPanel.tsx
  apps/homepage/frontend/src/components/ADRFormEditor.tsx
  apps/homepage/frontend/src/pages/DevToolsPage.tsx
  apps/sov_analyzer/frontend/src/components/ResultsPanel.tsx
  setup.ps1
  setup.sh
Due: none

fix: Remove /v1 API versioning - enforce contract-level versioning only
  .adrs/core/ADR-0017_Cross-Cutting-Guardrails.json
  .adrs/devtools/ADR-0027_DevTools-Page-Architecture.json
  COMMIT_MSG.txt
  ROUTING_FIXES.md
  apps/data_aggregator/backend/src/dat_aggregation/api/routes.py
  apps/homepage/frontend/src/hooks/usePipelines.ts
  apps/homepage/frontend/src/pages/PipelineDetailsPage.tsx
  apps/homepage/frontend/src/pages/PipelinesPage.tsx
  apps/pptx_generator/backend/main.py
  apps/sov_analyzer/frontend/src/components/AnalysisConfig.tsx
  apps/sov_analyzer/frontend/src/components/ResultsPanel.tsx
  gateway/main.py
Due: validate-adrs

feat(api): implement versioned API endpoints and DAT workflow refactor
  .adrs/ADR_INDEX.md
  .adrs/core/ADR-0005_Swagger-Driven-E2E-Validation.json
  .adrs/core/ADR-0029_API-Versioning-and-Endpoint-Naming.json
  ADR-0029_CHANGE_PLAN.md
  DAT_CODE_REVIEW.md
  apps/data_aggregator/backend/src/dat_aggregation/adapters/excel_adapter.py
  apps/data_aggregator/backend/src/dat_aggregation/adapters/json_adapter.py
  apps/data_aggregator/backend/src/dat_aggregation/api/routes.py
  apps/data_aggregator/backend/src/dat_aggregation/core/checkpoint_manager.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/parse.py
  apps/data_aggregator/frontend/src/App.tsx
  apps/data_aggregator/frontend/src/components/stages/ContextPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/ExportPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/ParsePanel.tsx
  apps/data_aggregator/frontend/src/components/stages/PreviewPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/SelectionPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/TableAvailabilityPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/TableSelectionPanel.tsx
  apps/data_aggregator/frontend/src/hooks/useRun.ts
  apps/homepage/frontend/src/hooks/useDataSets.ts
  apps/homepage/frontend/src/hooks/usePipelines.ts
  apps/homepage/frontend/src/pages/PipelineDetailsPage.tsx
  apps/homepage/frontend/src/pages/PipelinesPage.tsx
  apps/pptx_generator/backend/main.py
  apps/sov_analyzer/backend/main.py
  apps/sov_analyzer/backend/src/sov_analyzer/api/routes.py
  apps/sov_analyzer/frontend/src/components/AnalysisConfig.tsx
  apps/sov_analyzer/frontend/src/components/DataSetSelector.tsx
  apps/sov_analyzer/frontend/src/components/ResultsPanel.tsx
  docs/data-aggregator/DAT_UX_FLOW.md
  docs/specs/core/SPEC-0034_API-Naming-Convention.json
  gateway/main.py
  gateway/services/pipeline_service.py
  tests/integration/test_gateway_api.py
  tests/test_all_endpoints.py
  tests/test_gateway.py
Due: validate-adrs, validate-specs

docs(adr): establish documentation lifecycle management with archival policy
  .adrs/ADR_INDEX.md
  .adrs/core/ADR-0030_Documentation-Lifecycle-Management.json
  ADR-0029_CHANGE_PLAN.md
  CHANGELOG.md
  COMMIT_MSG.txt
  DAT_CODE_REVIEW.md
  DEBUGGING_CHECKLIST.md
  FIXES_APPLIED.md
  FRONTEND_STYLING_FIXES.md
  PPTX_CONFIG_FIXES.md
  ROUTING_FIXES.md
  TOOL_ALIGNMENT.md
  VITE_PROXY_FIXES.md
  docs/GAP_ANALYSIS.md
  docs/_archive/planning/2025-12/README.md
  docs/_archive/planning/2025-12/tier-1-vision/PLATFORM_VISION.md
  docs/_archive/planning/2025-12/tier-2-integration/CROSS_TOOL_INTEGRATION.md
  docs/_archive/planning/2025-12/tier-2-integration/HOMEPAGE_CONTROL.md
  docs/_archive/planning/2025-12/tier-3-tools/data-aggregator/DAT_SPEC.md
  docs/_archive/planning/2025-12/tier-3-tools/homepage/HOMEPAGE_SPEC.md
  docs/_archive/planning/2025-12/tier-3-tools/pptx-generator/PPTX_SPEC.md
  docs/_archive/planning/2025-12/tier-3-tools/sov-analyzer/SOV_SPEC.md
  docs/change-plan/tier-4-implementation/phase-1-foundation/PHASE1_INSTRUCTIONS.md
  docs/change-plan/tier-4-implementation/phase-2-homepage-pptx/PHASE2_INSTRUCTIONS.md
  docs/change-plan/tier-4-implementation/phase-3-data-aggregator/PHASE3_INSTRUCTIONS.md
  docs/change-plan/tier-4-implementation/phase-4-sov-analyzer/PHASE4_INSTRUCTIONS.md
  docs/dat/DAT_GAP_ANALYSIS.md
  docs/data-aggregator/DAT_UX_FLOW.md
  docs/data-aggregator/DEBUG_STRATEGY.md
  docs/data-aggregator/index.md
  docs/index.md
  docs/pptx-generator/index.md
  docs/pptx/PPTX_GAP_ANALYSIS.md
  docs/sov-analyzer/index.md
  docs/sov/SOV_GAP_ANALYSIS.md
Due: validate-adrs

fix: resolve TypeScript ESLint compatibility and modernize codebase
  apps/homepage/frontend/.eslintrc.cjs
  apps/homepage/frontend/node_modules/.vite/deps/_metadata.json
  apps/homepage/frontend/src/components/ADRFormEditor.tsx
  apps/homepage/frontend/src/pages/DevToolsPage.tsx
  apps/pptx_generator/backend/main.py
  apps/pptx_generator/backend/models/data.py
  apps/pptx_generator/backend/models/drm.py
  apps/pptx_generator/backend/models/environment_profile.py
  apps/pptx_generator/backend/models/generation.py
  apps/pptx_generator/backend/models/mapping_manifest.py
  apps/pptx_generator/backend/models/plan_artifacts.py
  apps/pptx_generator/backend/models/project.py
  apps/pptx_generator/backend/models/template.py
  apps/pptx_generator/backend/models/validation_report.py
  ci/steps/02-install-deps.ps1
  ci/steps/03a-validate-contracts.ps1
  pyproject.toml
  shared/contracts/core/error_response.py
  tests/integration/test_gateway_api.py
  tools/validate_contracts.py
  validation-report.json
Due: validate-contracts

feat(api): standardize PPTX error responses and fix route mounting
  .adrs/ADR_INDEX.md
  .adrs/core/ADR-0031_HTTP-Error-Response-Contracts.json
  .adrs/core/ADR-0032_HTTP-Request-Idempotency-Semantics.json
  apps/pptx_generator/backend/api/config.py
  apps/pptx_generator/backend/api/config_defaults.py
  apps/pptx_generator/backend/api/data.py
  apps/pptx_generator/backend/api/data_operations.py
  apps/pptx_generator/backend/api/dataset_input.py
  apps/pptx_generator/backend/api/errors.py
  apps/pptx_generator/backend/api/generation.py
  apps/pptx_generator/backend/api/preview.py
  apps/pptx_generator/backend/api/projects.py
  apps/pptx_generator/backend/api/requirements.py
  apps/pptx_generator/backend/api/templates.py
  apps/pptx_generator/backend/main.py
  docs/AI_CODING_GUIDE.md
  docs/specs/SPEC_INDEX.md
  docs/specs/core/SPEC-0035_Error-Response-Implementation-Guide.json
  docs/specs/core/SPEC-0036_Idempotency-Implementation-Guide.json
Due: validate-adrs, validate-specs

feat(adrs): optimize ADR ecosystem for solo-dev, greenfield, AI-assisted development
  .adrs/ADR_INDEX.md
  .adrs/core/ADR-0016_Hybrid-Semver-Contract-Versioning.json
  .adrs/core/ADR-0025_DataSet-Lineage-Tracking.json
  .adrs/core/ADR-0029_API-Versioning-and-Endpoint-Naming.json
  .adrs/core/ADR-0033_AI-Assisted-Development-Patterns.json
  .adrs/core/ADR-0034_Automated-Documentation-Pipeline.json
  .adrs/core/ADR-0035_Contract-Driven-Test-Generation.json
  .adrs/core/ADR-0036_Observability-and-Debugging-First.json
  .adrs/core/ADR-0037_Single-Command-Development-Environment.json
  .adrs/core/ADR-0038_CI-CD-Pipeline-for-Data-and-Code.json
  .adrs/core/ADR-0039_Deployment-Automation.json
Due: validate-adrs

feat(shared): implement unified observability with frontend logging contracts
  .adrs/ADR_INDEX.md
  .adrs/core/ADR-0036_Observability-and-Debugging-First.json
  .sessions/TEAM_001_AI_CODING_GUIDE_UPDATE.md
  .sessions/TEAM_002_COMPLIANCE_100_PLAN.md
  .sessions/TEAM_003_UNIFIED_OBSERVABILITY.md
  apps/data_aggregator/frontend/src/components/debug/DebugContext.tsx
  apps/data_aggregator/frontend/src/components/debug/DebugPanel.tsx
  apps/data_aggregator/frontend/src/hooks/useRun.ts
  docs/specs/SPEC_INDEX.md
  docs/specs/core/SPEC-0040_Observability-and-Tracing.json
  shared/contracts/core/__init__.py
  shared/contracts/core/frontend_logging.py
  tools/gen_json_schema.py
Due: validate-contracts, validate-adrs, validate-specs

feat(dat): implement phase 1-2 DAT refactor components
  .adrs/ADR_INDEX.md
  .adrs/core/ADR-0001_Guided-Workflow-FSM-Orchestration.json
  .sessions/TEAM_004_DAT_REFACTOR_CHANGE_PLAN.md
  apps/data_aggregator/backend/src/dat_aggregation/api/routes.py
  apps/data_aggregator/backend/src/dat_aggregation/api/websocket.py
  apps/data_aggregator/backend/src/dat_aggregation/core/__init__.py
  apps/data_aggregator/backend/src/dat_aggregation/core/checkpoint_manager.py
  apps/data_aggregator/backend/src/dat_aggregation/core/memory_manager.py
  apps/data_aggregator/backend/src/dat_aggregation/core/state_machine.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/preview.py
  apps/data_aggregator/frontend/src/App.tsx
  apps/data_aggregator/frontend/src/components/stages/ContextPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/PreviewPanel.tsx
  apps/data_aggregator/frontend/src/components/wizard/GatingTooltip.tsx
  apps/data_aggregator/frontend/src/components/wizard/ProgressIndicator.tsx
  apps/data_aggregator/frontend/src/components/wizard/UnlockConfirmDialog.tsx
  apps/data_aggregator/frontend/src/components/wizard/index.ts
  docs/AI_CODING_GUIDE.md
  docs/specs/SPEC_INDEX.md
  docs/specs/core/SPEC-0044_Stage-Completion-Semantics.json
  docs/specs/dat/SPEC-DAT-0001_Stage-Graph.json
  gateway/main.py
  pyproject.toml
  shared/contracts/dat/__init__.py
  shared/contracts/dat/stage.py
  temp_openapi.json
  tests/dat/test_api.py
  tests/dat/test_memory_manager.py
  tests/dat/test_stages.py
  tests/dat/test_websocket_progress.py
  tests/integration/test_artifact_preservation.py
Due: validate-contracts, validate-adrs, validate-specs

feat(dat): Complete DAT refactor alignment with updated ADRs/SPECs/contracts
  .sessions/TEAM_005_DAT_REFACTOR_IMPLEMENTATION.md
  apps/data_aggregator/backend/api/errors.py
  apps/data_aggregator/backend/main.py
  apps/data_aggregator/backend/src/dat_aggregation/adapters/base.py
  apps/data_aggregator/backend/src/dat_aggregation/adapters/csv_adapter.py
  apps/data_aggregator/backend/src/dat_aggregation/adapters/excel_adapter.py
  apps/data_aggregator/backend/src/dat_aggregation/adapters/factory.py
  apps/data_aggregator/backend/src/dat_aggregation/adapters/json_adapter.py
  apps/data_aggregator/backend/src/dat_aggregation/adapters/parquet_adapter.py
  apps/data_aggregator/backend/src/dat_aggregation/api/routes.py
  apps/data_aggregator/backend/src/dat_aggregation/api/schemas.py
  apps/data_aggregator/backend/src/dat_aggregation/core/checkpoint_manager.py
  apps/data_aggregator/backend/src/dat_aggregation/core/run_manager.py
  apps/data_aggregator/backend/src/dat_aggregation/core/run_store.py
  apps/data_aggregator/backend/src/dat_aggregation/core/stage_graph_config.py
  apps/data_aggregator/backend/src/dat_aggregation/core/state_machine.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/profile_loader.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/context.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/export.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/parse.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/preview.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/selection.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/table_availability.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/table_selection.py
  shared/contracts/dat/__init__.py
  shared/contracts/dat/table_status.py
  tests/dat/data_file_creator.py
Due: validate-contracts

feat(dat): migrate profile schema to tier-0 contracts (Option A SSOT)
  .questions/CONTRACT_Profile-Schema-SSOT_Migration.md
  .sessions/SESSION_001_PROFILE_ETL_VALIDATION.md
  .sessions/SESSION_002_PROFILE_SCHEMA_SSOT_MIGRATION.md
  .sessions/SESSION_003_CONTRACTS_SSOT_VALIDATION.md
  apps/data_aggregator/backend/main.py
  apps/data_aggregator/backend/services/profile_service.py
  apps/data_aggregator/backend/src/dat_aggregation/api/routes.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/__init__.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/context_extractor.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/file_filter.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/output_builder.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/population_strategies.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/profile_executor.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/profile_loader.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/profile_loader_new.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/strategies/base.py
  apps/data_aggregator/backend/src/dat_aggregation/stages/parse.py
  apps/pptx_generator/backend/api/projects.py
  apps/pptx_generator/backend/models/project.py
  apps/sov_analyzer/backend/main.py
  apps/sov_analyzer/backend/src/sov_analyzer/api/routes.py
  docs/_archive/planning/2025-12/sessions/00_INDEX.md
  docs/_archive/planning/2025-12/sessions/01_PROJECT_ACCEPTANCE_CRITERIA.md
  docs/_archive/planning/2025-12/sessions/02_FILE_CHANGE_SPECIFICATIONS.md
  docs/_archive/planning/2025-12/sessions/03_IMPLEMENTATION_DETAILS.md
  docs/_archive/planning/2025-12/sessions/03_PROFILE_EXECUTOR_COMPLETION.md
  docs/_archive/planning/2025-12/sessions/04_EXECUTION_CHECKLIST.md
  docs/_archive/planning/2025-12/sessions/DAT_INVESTIGATION_REPORT_2025-12-29.md
  docs/_archive/planning/2025-12/sessions/SESSION_018_QUADRUPLE_AUDIT.md
  docs/_archive/planning/2025-12/sessions/SESSION_019_PATCH_PLAN_VALIDATION.md
  docs/_archive/planning/2025-12/sessions/SESSION_020_DAT_CONTRACT_SSOT_PROFILE_ID_WIRING.md
  docs/_archive/planning/2025-12/sessions/SESSION_021_PROFILE_EXECUTOR_IMPLEMENTATION_REVIEW.md
  docs/_archive/planning/2025-12/sessions/TEAM_017_DAT_REFACTOR_EXECUTION.md
  shared/contracts/dat/__init__.py
  shared/contracts/dat/profile.py
  shared/contracts/dat/stage.py
  tests/test_all_endpoints.py
  tests/unit/dat/profiles/test_profile_executor.py
Due: validate-contracts

refactor(contracts): Align DAT profile contracts with ADR-0011 and SPEC-DAT-0011/0012
  apps/data_aggregator/backend/src/dat_aggregation/profiles/__init__.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/context_extractor.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/profile_loader.py
  docs/specs/dat/SPEC-DAT-0011_Profile-Schema.json
  docs/specs/dat/SPEC-DAT-0012_Extraction-Strategies.json
  shared/contracts/dat/profile.py
Due: validate-contracts, validate-specs

refactor(contracts): Align DAT profile contracts with ADR-0011 and SPEC-DAT-0011/0012
  .questions/DESIGN_Profile-Driven-ETL-Architecture.md
  .sessions/SESSION_004_CONTEXT_SEPARATION_IMPLEMENTATION.md
  apps/data_aggregator/backend/main.py
  apps/data_aggregator/backend/src/dat_aggregation/api/routes.py
  apps/data_aggregator/backend/src/dat_aggregation/api/schemas.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/examples/LOTABC12345_W01_CDSEM001_20251227_measurement.json
  apps/data_aggregator/backend/src/dat_aggregation/profiles/examples/LOTXYZ98765_W03_CDSEM002_20251228_measurement.json
  apps/data_aggregator/backend/src/dat_aggregation/profiles/output_builder.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/profile_executor.py
  apps/data_aggregator/backend/src/dat_aggregation/profiles/profile_loader.py
  apps/data_aggregator/frontend/src/components/stages/ContextPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/ParsePanel.tsx
  apps/data_aggregator/frontend/src/components/stages/TableSelectionPanel.tsx
  apps/data_aggregator/frontend/src/hooks/useProfiles.ts
  apps/data_aggregator/frontend/src/hooks/useRun.ts
  gateway/main.py
  start.ps1
  tests/dat/ACCEPTANCE_CRITERIA_ADAPTERS.md
  tests/dat/ACCEPTANCE_CRITERIA_NEXT_STEPS.md
  tests/dat/test_context_separation.py
Due: none

docs: restructure with hierarchical AGENTS.md and tool-specific architectures
  .adrs/AGENTS.md
  .sessions/SESSION_005_DOCS_RESTRUCTURE_AGENTS_MD.md
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  apps/AGENTS.md
  apps/data_aggregator/AGENTS.md
  apps/data_aggregator/backend/AGENTS.md
  apps/data_aggregator/frontend/AGENTS.md
  apps/pptx_generator/AGENTS.md
  apps/pptx_generator/backend/AGENTS.md
  apps/pptx_generator/frontend/AGENTS.md
  apps/sov_analyzer/AGENTS.md
  apps/sov_analyzer/backend/AGENTS.md
  apps/sov_analyzer/frontend/AGENTS.md
  docs/AGENTS.md
  docs/_archive/AI_CODING_GUIDE_2025-12-30.md
  docs/_archive/platform_ARCHITECTURE_2025-12-30.md
  docs/data-aggregator/reference/ARCHITECTURE.md
  docs/sov-analyzer/reference/ARCHITECTURE.md
  gateway/AGENTS.md
  shared/AGENTS.md
  tests/AGENTS.md
Due: none

chore: commit pyproject.toml first
  pyproject.toml
Due: none

docs: restructure with hierarchical AGENTS.md and tool-specific architectures
  Procfile
  apps/data_aggregator/backend/src/dat_aggregation/api/routes.py
  apps/data_aggregator/backend/src/dat_aggregation/core/run_manager.py
  apps/data_aggregator/backend/src/dat_aggregation/core/run_store.py
  apps/data_aggregator/frontend/src/components/stages/ContextPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/TableAvailabilityPanel.tsx
  apps/data_aggregator/frontend/src/components/stages/TableSelectionPanel.tsx
  apps/data_aggregator/frontend/src/hooks/useProfiles.ts
  docs/AI_CODING_GUIDE.md
  docs/index.md
  docs/platform/ARCHITECTURE.md
  docs/platform/CONTRIBUTING.md
  mkdocs.yml
  start.ps1
  start.ps1.bak
Due: none

Add automatic results recording scripts for EXP-001
  .experiments/EXP-001_L1-vs-L3-Granularity/EXECUTION_GUIDE.md
  .experiments/EXP-001_L1-vs-L3-Granularity/scripts/aggregate_results.py
  .experiments/EXP-001_L1-vs-L3-Granularity/scripts/save_results.py
Due: none

EXP-001: Complete L1 vs L3 Granularity Experiment with Final Report
  .experiments/EXP-001_L1-vs-L3-Granularity/FINAL_REPORT.md
  .experiments/EXP-001_L1-vs-L3-Granularity/L1_SCORING_COMPARISON.md
  .experiments/EXP-001_L1-vs-L3-Granularity/SCORECARD_V2.json
  .plans/PLAN-001_DevTools-Workflow-Manager.json
  shared/contracts/plan_schema.py
Due: validate-contracts

EXP-001: Claude Sonnet 4.5 Thinking (L1) - DevTools Workflow Manager implementation
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_CLAUDE_SONNET_4_5_THINKING.json
  gateway/services/devtools_service.py
  gateway/services/workflow_service.py
  shared/contracts/devtools/workflow.py
  tests/test_devtools_workflow.py
Due: validate-contracts

EXP-001: Claude Opus 4.5 Thinking (L1) - DevTools Workflow Manager implementation
  .discussions/Test-Discussion.md
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_CLAUDE_OPUS_4_5_THINKING.json
  gateway/services/devtools_service.py
  gateway/services/workflow_service.py
  shared/contracts/devtools/workflow.py
  tests/gateway/__init__.py
  tests/gateway/test_devtools_workflow.py
Due: validate-contracts

EXP-001: Gemini 3 Pro High (L1) - DevTools Workflow Manager implementation
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_GEMINI_3_PRO_HIGH.json
  gateway/services/devtools_service.py
  gateway/services/workflow_service.py
  shared/contracts/devtools/workflow.py
  tests/gateway/test_devtools_workflow.py
Due: validate-contracts

EXP-001: GPT-5.2 High Reasoning Fast (L1) - DevTools Workflow Manager implementation
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_GPT_5_2_HIGH_REASONING_FAST.json
  .plans/.tests/.backup/PLAN-999_TEST.json.20251230190537513235.bak
  .plans/.tests/.backup/PLAN-999_TEST.json.20251230190537541740.bak
  .questions/PLAN-001_M1_Baseline-Tests-Failing.md
  .sessions/SESSION_006_PLAN-001_M1_BACKEND_FOUNDATION.md
  .sessions/SESSION_007_PLAN-001_M1_WORKFLOW_MANAGER_COMPLETION.md
  gateway/routes/__init__.py
  gateway/routes/devtools.py
  gateway/services/devtools_service.py
  gateway/services/workflow_service.py
  shared/contracts/devtools/workflow.py
  tests/gateway/__init__.py
  tests/gateway/test_devtools_workflow.py
Due: validate-contracts

EXP-001: Grok Code Fast 1 (L3) - DevTools Workflow Manager implementation
  .experiments/EXP-001_L1-vs-L3-Granularity/EXTRACTION_PLAN.md
Due: none

EXP-001: GPT-5.1 Codex Max High (L3) - DevTools Workflow Manager implementation
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_GPT_5_1_CODEX_MAX_HIGH.json
  .sessions/SESSION_006_EXP-001_M1_L3_EXECUTION.md
  gateway/main.py
  gateway/routes/__init__.py
  gateway/routes/devtools.py
  gateway/services/workflow_service.py
  shared/contracts/devtools/workflow.py
  tests/gateway/test_devtools_workflow.py
Due: validate-contracts

EXP-001: Claude Haiku 3.5 (L3) - DevTools Workflow Manager implementation
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_CLAUDE_HAIKU.json
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_CLAUDE_HAIKU_3_5.json
  gateway/main.py
  gateway/routes/devtools.py
  gateway/services/devtools_service.py
  gateway/services/workflow_service.py
  shared/contracts/devtools/workflow.py
  tests/gateway/test_devtools_workflow.py
Due: validate-contracts

EXP-001: Grok Code Fast 1 (L3) - DevTools Workflow Manager implementation
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_GROK_CODE_FAST_1.json
  gateway/routes/devtools.py
  gateway/services/workflow_service.py
  shared/contracts/devtools/workflow.py
  tests/gateway/test_devtools_workflow.py
Due: validate-contracts

EXP-001: Gemini Flash 3 High (L3) - DevTools Workflow Manager implementation
  .experiments/EXP-001_L1-vs-L3-Granularity/results/RESULTS_GEMINI_FLASH_3_HIGH.json
  .experiments/EXP-001_L1-vs-L3-Granularity/scripts/save_results.py
  gateway/services/devtools_service.py
  gateway/services/workflow_service.py
  shared/contracts/devtools/workflow.py
  tests/gateway/test_devtools_workflow.py
Due: validate-contracts

Add StepType enum and escalate_on_failure from GPT-5.2 patterns
  shared/contracts/plan_schema.py
Due: validate-contracts

Add L3 chunking schema and PLAN-001 M1 reference implementation
  .plans/L3/PLAN-001/INDEX.json
  .plans/L3/PLAN-001/PLAN-001_L3_M1.json
  shared/contracts/plan_schema.py
Due: validate-contracts

Add L3 Execution Protocol to AGENTS.md
  AGENTS.md
Due: none

Propagate L3 chunking schema to ADR-0041 and AI_DEVELOPMENT_WORKFLOW guide
  .adrs/ADR-0041_AI-Development-Workflow.json
  docs/guides/AI_DEVELOPMENT_WORKFLOW.md
Due: validate-adrs

docs: fix mkdocs configuration and navigation - remove broken links, add existing docs, exclude internal files
  docs/index.md
  mkdocs.yml
Due: none

feat: Complete Workflow Manager UI with rich artifact editing
  .plans/.templates/EXECUTION_L3.md
  .plans/.templates/L3_FRAGMENT_TEMPLATE.json
  .plans/AGENTS.md
  apps/homepage/frontend/src/components/workflow/ADREditorForm.tsx
  apps/homepage/frontend/src/components/workflow/ADRViewer.tsx
  apps/homepage/frontend/src/components/workflow/ArtifactEditor.tsx
  apps/homepage/frontend/src/components/workflow/ArtifactReader.tsx
  apps/homepage/frontend/src/components/workflow/DiscussionEditorForm.tsx
  apps/homepage/frontend/src/components/workflow/EditorForm.tsx
  apps/homepage/frontend/src/components/workflow/JsonRenderer.tsx
  apps/homepage/frontend/src/components/workflow/PlanEditorForm.tsx
  apps/homepage/frontend/src/components/workflow/PlanViewer.tsx
  apps/homepage/frontend/src/components/workflow/SpecEditorForm.tsx
  apps/homepage/frontend/src/components/workflow/SpecViewer.tsx
  apps/homepage/frontend/src/components/workflow/index.ts
  gateway/services/devtools_service.py
  shared/contracts/devtools/__init__.py
  shared/contracts/devtools/fragment.py
Due: validate-contracts

Path conditions:
  validate-contracts: any of: ^shared/contracts/
  validate-adrs: any of: ^\.adrs/.*\.json$ and \.json$
  validate-specs: any of: ^docs/specs/.*\.json$ and \.json$
